<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">

        
        <h2>GetById</h2>
        <input type="text"  v-model="numerplade">
        <button v-on:click="getByReg(numerplade)">getByNummerplade</button>
            <div v-if="bil">{{bil.registration_number}}</div>
            <div v-if="bil">{{bil.make}}</div>
            <div v-if="bil">{{bil.model_year}}</div>
            <div v-if="bil">{{bil}}</div>
            <div v-else>ingen biler</div>
                
             
    </div>

    </div>

    <script src="index.js"></script>
</body>
</html>